/*-----------
    fonts
-----------*/

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/ubuntu/Ubuntu-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/ubuntu/Ubuntu-Italic.woff2") format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/ubuntu/Ubuntu-Medium.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/ubuntu/Ubuntu-MediumItalic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/ubuntu/Ubuntu-Bold.woff2") format('woff2');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/ubuntu/Ubuntu-BoldItalic.woff2") format('woff2');
    font-weight: bolder;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/ubuntu/Ubuntu-Light.woff2") format('woff2');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/ubuntu/Ubuntu-LightItalic.woff2") format('woff2');
    font-weight: lighter;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("fonts/ubuntu-mono/UbuntuMono-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("fonts/ubuntu-mono/UbuntuMono-Italic.woff2") format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: "Ubuntu Mono";
    src: url("fonts/ubuntu-mono/UbuntuMono-Bold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("fonts/ubuntu-mono/UbuntuMono-BoldItalic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/*-----------
    global
-----------*/

* {
    padding: 0;
    margin: 0;
    --black: #363149;
    --pink: #FF00FF;
    --yellow: #D6F910;
    --white: #F0FAF8;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--white);
    color: var(--black);
}

/*-----------
    header
-----------*/

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    background-color: var(--black);
    padding: 0.5rem 1rem;
    color: var(--white);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: var(--white);
}

header section {
    font-size: 2rem;
    font-weight: lighter;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

header nav li {
    font-size: 1.1rem;
    list-style: none;
    font-weight: bold;
}

header nav a {
    position: relative;
}

header nav a:hover {
    color: var(--pink);
}

header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.15rem;
    width: 100%;
    height: 1.5px;
    background-color: var(--pink);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

header nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


/*-----------
    main
-----------*/

h1 {
    font-size: 10rem;
    font-weight: bolder;
    width: fit-content;
    margin: 5rem auto 2rem auto;
    text-shadow: 0.25rem 0.25rem 0.25rem var(--pink);
}

.typewriter {
    font-family: "Ubuntu Mono", monospace;
    font-size: 3rem;
    width: fit-content;
    margin: 0 auto 5rem auto;
}

#about-me section {
    margin: 0 1rem 5rem 1rem;
    line-height: 4rem;
    letter-spacing: 0.05rem;
}

#about-me p {
    font-size: 2rem;
    letter-spacing: 0.05rem;
}

#underline {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.25rem;
    text-decoration-color: var(--pink);
    font-style: italic;
}

#object {
    display: inline-block;
}

#about-me a {
    text-decoration: none;
    background-color: var(--pink);
    padding: 0.25rem 0.5rem;
    color: var(--black);
    transition: 250ms;
    position: relative;
}

#about-me a::after {
    content: "";
    position: absolute;
    background-color: var(--pink);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(4rem) rotateX(40deg) translateZ(-1rem) scale(1, 0.25);
    filter: blur(3rem);
    opacity: 0;
    transition: opacity 250ms;
}

#about-me a:hover {
    box-shadow: 0 0.5rem 0.5rem -0.4rem var(--pink);
    color: var(--white);
    transition: color 250ms;
}

#about-me a:hover::after {
    opacity: 0.5;
}

#about-me a:active {
    box-shadow: none;
    color: var(--black);
}

#about-me a:active::after {
    opacity: 0;
}

#skills {
    background-color: var(--black);
    color: var(--white);
    padding: 5rem 1rem;
}

#skills h2 {
    width: fit-content;
    margin: 0 auto 1rem auto;
    font-size: 3rem;
}

#skills p {
    width: fit-content;
    margin: 0 auto 3rem auto;
    font-size: 2rem;
    font-weight: bold;
}

#skills section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(131px, 1fr));
    gap: 2rem;
}

#skills section p {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;
    margin: 0 auto;
}

#skills section p i {
    display: block;
    font-size: 7.5rem;
}

#skills section p span {
    display: block;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

#projects h2 {
    width: fit-content;
    margin: 5rem auto 1rem auto;
    font-size: 3rem;
}

#projects p {
    width: fit-content;
    margin: 0 auto 3rem auto;
    font-size: 2rem;
    font-weight: bold;
}

#projects .portfolio {
    margin: 0 1rem 5rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#projects .card {
    width: 100%;
    margin: auto;
    padding: 1rem 1.5rem;
    border: solid 0.25rem;
    border-color: var(--pink);
    clip-path: polygon(0% 5rem, 
    5rem 0, 
    100% 0, 
    100% calc(100% - 5rem), 
    calc(100% - 5rem) 100%, 
    0 100%);
}

#projects .card h3 {
    width: fit-content;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}

#projects .card img {
    display: block;
    width: 80.08%;
    height: auto;
    margin: 2rem auto;
}

#projects .card p {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-align: center;
    margin: 0 auto 2.5rem auto;
}

#projects .project-links {
    display: flex;
}

#projects .project-links p {
    margin: 0 auto 0.5rem auto;
}

#projects .project-links a {
    text-decoration: none;
    font-family: "Ubuntu Mono", monospace;
    color: var(--black);
    border: 2px solid;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    transition: 250ms;
    position: relative;
}

#projects .project-links a::after {
    content: "";
    position: absolute;
    background-color: var(--pink);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(4rem) rotateX(40deg) translateZ(-1rem) scale(1, 0.25);
    filter: blur(3rem);
    opacity: 0;
    transition: opacity 250ms;
}

#projects .project-links a:hover {
    border-color: var(--pink);
    color: var(--pink);
    box-shadow: 0 0.5rem 0.5rem -0.4rem var(--pink);
}

#projects .project-links a:hover::after {
    opacity: 0.5;
}

#projects .project-links a:active {
    border-color: var(--pink);
    color: var(--black);
    box-shadow: none;
}

#projects .project-links a:active::after {
    opacity: 0;
}

#resume {
    background-color: var(--black);
    color: var(--white);
    padding: 5rem 1rem;
}

#resume h2 {
    width: fit-content;
    margin: 0 auto 1rem auto;
    font-size: 3rem;
}

#resume p {
    width: fit-content;
    margin: 0 auto 3rem auto;
    font-size: 2rem;
    font-weight: bold;
}

#resume #pdf-links {
    display: flex;
}

#resume #pdf-links p {
    margin: 0 auto 0.5rem auto;
}

#resume #pdf-links a {    
    text-decoration: none;
    font-family: "Ubuntu Mono", monospace;
    color: var(--white);
    letter-spacing: 0.1rem;
    border: 2px solid;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    transition: 250ms;
    position: relative;
}

#resume #pdf-links a::after {
    content: "";
    position: absolute;
    background-color: var(--pink);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(4rem) rotateX(40deg) translateZ(-1rem) scale(1, 0.25);
    filter: blur(3rem);
    opacity: 0;
    transition: opacity 250ms;
}

#resume #pdf-links a:hover {
    border-color: var(--pink);
    color: var(--pink);
    box-shadow: 0 0.5rem 0.5rem -0.4rem var(--pink);
}

#resume #pdf-links a:hover::after {
    opacity: 0.5;
}

#resume #pdf-links a:active {
    border-color: var(--pink);
    color: var(--white);
    box-shadow: none;
}

#resume #pdf-links a:active::after {
    opacity: 0;
}

#contact-me h2 {
    width: fit-content;
    margin: 5rem auto 1rem auto;
    font-size: 3rem;
}

#contact-me p {
    width: fit-content;
    margin: 0 auto 3rem auto;
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form section {
    margin: 0 auto 1rem auto;
}

label {
    display: block;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    line-height: 3rem;
}

input, textarea {
    display: block;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    width: 50rem;
    padding: 0.5rem;
}

button {
    width: fit-content;
    font-family: 'Ubuntu Mono', monospace;
    background: none;
    color: var(--black);
    border: 2px solid;
    padding: 0.5rem 1rem;
    margin: 0 auto 5rem auto;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    transition: 250ms;
    position: relative;
}

button::after {
    content: "";
    position: absolute;
    background-color: var(--pink);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(4em) rotateX(40deg) translateZ(-1em) scale(1, 0.25);
    filter: blur(3em);
    opacity: 0;
    transition: opacity 250ms;
}

button:hover {
    border-color: var(--pink);
    color: var(--pink);
    box-shadow: 0 0.5em 0.5em -0.4em var(--pink);
    transform: translateY(-0.25em);
    cursor: pointer;
}

button:hover::after {
    opacity: 0.5;
}

button:active {
    border-color: var(--pink);
    color: var(--black);
    box-shadow: none;
    transform: translateY(0.25em);
    cursor: pointer;
}

button:active::after {
    opacity: 0;
}

/*-----------
    footer
-----------*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    background-color: var(--black);
    padding: 0.5rem 1rem;
    color: var(--white);
}

footer p {
    font-size: 1.25rem;
    font-weight: lighter;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

footer li {
    font-size: 1.1rem;
    list-style: none;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: var(--white);
    position: relative;
}

footer a:hover {
    color: var(--pink);
}

footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.15rem;
    width: 100%;
    height: 1.5px;
    background-color: var(--pink);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

footer a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

i {
    margin-right: 0.25rem;
}

/*-----------
    media
-----------*/

@media (max-width: 1277px) {
    h1 {
        font-size: 8.35rem;
    }
    
    .typewriter {
        font-size: 2.5rem;
    }

    #about-me p {
        font-size: 1.66rem;
    }
}

@media (max-width: 1229px) {
    #about-me p {
        font-size: 1.6rem;
    }
}

@media (max-width: 1188px) {
    #about-me p {
        font-size: 1.5rem;
    }
}

@media (min-width: 1122px) {
    #about-me section p:nth-child(2) {
        margin-left: 4ch;
    }
    
    #about-me section p:nth-child(3) {
        margin-left: 8ch;
    }
    
    #about-me section p:nth-child(4) {
        margin-left: 12ch;
    }
}

@media (max-width: 1121px) {
    #about-me p {
        font-size: 1.6rem;
    }
    
    #about-me section p:nth-child(2) {
        margin-left: 2ch;
    }
    
    #about-me section p:nth-child(3) {
        margin-left: 4ch;
    }
    
    #about-me section p:nth-child(4) {
        margin-left: 6ch;
    }
}

@media (max-width: 1102px) {
    h1 {
        font-size: 7.5rem;
    }
    
    .typewriter {
        font-size: 2.25rem;
    }

    #about-me p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1040px) {    
    #about-me section p:nth-child(2) {
        margin-left: 1ch;
    }
    
    #about-me section p:nth-child(3) {
        margin-left: 2ch;
    }
    
    #about-me section p:nth-child(4) {
        margin-left: 3ch;
    }
}

@media (max-width: 999px) {
    #about-me section p:nth-child(2) {
        margin-left: auto;
    }
    
    #about-me section p:nth-child(3) {
        margin-left: auto;
    }
    
    #about-me section p:nth-child(4) {
        margin-left: auto;
    }
}

@media (max-width: 959px) {
    h1 {
        font-size: 6.67rem;
    }
    
    .typewriter {
        font-size: 2rem;
    }

    #about-me p {
        font-size: 1.34rem;
    }
}

@media (max-width: 869px) {
    h1 {
        font-size: 5rem;
    }
    
    .typewriter {
        font-size: 1.5rem;
    }

    #about-me p {
        font-size: 1.2rem;
    }
}

@media (max-width: 790px) {
    #about-me p {
        line-height: normal;
    }

    #about-me section p:nth-child(1), #about-me section p:nth-child(2), #about-me section p:nth-child(3) {
        margin-bottom: 2rem;
    }
    
    #about-me section p:nth-child(4) {
        line-height: 1.5;
    }
}

@media (max-width: 638px) {
    h1 {
        font-size: 4rem;
        text-align: center;
    }

    .typewriter {
        text-align: center;
    }
}

@media (max-width: 390px) {
    .typewriter {
        display: none;
    }
}

@media (max-width: 380px) {
    h1 {
        font-size: 3.5rem;
    }
}







@media (min-width: 639px) {
    .typewriter {
        position: relative;
    }

    .typewriter::before, .typewriter::after {
        content: "";
        inset: 0;
        position: absolute;
        padding: 0;
    }
    
    .typewriter::before {
        background-color: var(--white);
        animation: typing 5s steps(41) 1s forwards;
    }
    
    .typewriter::after {
        width: 1ch;
        background-color: var(--black);
        animation: typing 5s steps(41) 1s forwards, blinking-block 1.25s steps(1, end) 6s infinite;
    }
    
    @keyframes typing {
        to {
            left: 100%;
        }
    }
    
    @keyframes blinking-block {
        0%, 100% {
            background-color: var(--white);
            color: var(--black);
          }
          50% {
            color: var(--white);
            background-color: var(--black);
          }
    }
}