.project {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 1rem 1.5rem;
	border: 0.25rem solid var(--red);
	clip-path: polygon(
		0% clamp(2.5rem, calc(0.725rem + 4vw), 5rem),
		clamp(2.5rem, calc(0.725rem + 4vw), 5rem) 0,
		100% 0,
		100% calc(100% - clamp(2.5rem, calc(0.275rem + 4vw), 5rem)),
		calc(100% - clamp(2.5rem, calc(0.725rem + 4vw), 5rem)) 100%,
		0 100%
	);
}

.project h3 {
	font-size: clamp(1.75rem, calc(0.275rem + 2vw), 2.5rem);
	font-weight: 700;
	width: fit-content;
	margin: auto;
	text-align: center;
}

.project p,
.links a {
	font-size: clamp(1.25rem, calc(0.275rem + 1.26vw), 1.5rem);
}

.project p {
	text-align: center;
	margin: 0 auto 2.5rem auto;
}

.project img {
	width: 100%;
	height: auto;
	margin: 1.25rem auto;
}

.links {
	display: flex;
	justify-content: space-around;
}

.links a {
	text-decoration: none;
	color: var(--black);
	border: 2px solid;
	padding: 0.25rem 0.5rem;
	transition: 250ms;
	position: relative;
	letter-spacing: 0.1rem;
}

.links a::after {
	content: "";
	position: absolute;
	background-color: var(--dark-green);
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	transform: perspective(4rem) rotateX(40deg) translateZ(-1rem) scale(1, 0.25);
	filter: blur(3rem);
	opacity: 0;
	transition: opacity 250ms;
}

.links a:hover,
.links a:focus-visible {
	border-color: var(--dark-green);
	color: var(--dark-green);
	box-shadow: 0 0.5rem 0.5rem -0.4rem var(--dark-green);
}

.links a:hover::after,
.links a:focus-visible::after {
	opacity: 0.5;
}

.links a:active {
	border-color: var(--dark-green);
	color: var(--black);
	box-shadow: none;
}

.links a:active::after {
	opacity: 0;
}
